.crudContainer{
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #2F4077;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}

.crudContainer h1{
  color: #fff;
}

.inputText{
  width: 500px;
  height:50px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #555;
  font-size: 15px;
}

.dropdownList{
  background-color: #CE8686;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #555;
  text-align: center;
  width: 430px;
  height: 50px;
}

.dropdownList option{
  background-color: #fff;
  border-radius: none;
  border: none;
  box-shadow: none;
  color: #000;
}

.addRessource{
  width: 50px;
  background-color: #CE8686;
  border-radius: 5px;
  color: #fff;
  height: 100%;
  margin-right: 20px;
}

.descriptionRessource{
  width:500px;
  min-height: 200px;
  border-radius: 5px;
  border: none;
}

.dropdownListCategorie{
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.validateRessource{
  width: 150px;
  height: 30px;
  color: #fff;
  background-color: #869ECE;
  border-radius: 5px;
}

.privateRessource{
  color: #fff;
  margin: 10px;
}