
.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}

.searchBar{
  height: 50px;
  width: 500px;
  border: none;
  box-shadow: 0px 0px 1px #000;
  border-radius: 5px;
  margin-bottom: 15px;
}

.articleContainer{
  min-width: 600px;
  height: 100%;
  background-color: #2F4077;
  border-radius: 10px;
  padding: 10px;
}

.firstPartContainer{
  display: flex;
  flex-direction: row;
  margin: 10px;
  color: #fff;
}

.userInfoContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userName{
  font-size: 15px;
}

.publicationDate{
  font-size: 12px;
}

.articleTitle{
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
}

.userPicture{
  height: 50px;
  width: 50px;
}

.articlePicture{
  margin: auto;
  height: auto;
  width: 200px;
  border-radius: 5px;
}

.articleBody{
  color: #fff;
  width: 500px;
  margin: 30px auto;
}

.articleFooter{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.articleRate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

.articleRate img{
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.articleOption{
  display: flex;
  justify-content: space-around;
}

.articleOption img{
  width: 25px;
  height: 25px;
  margin: 5px;
}

.dislike{
  transform: rotate(180deg);
}



.filterContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 700px;
  border-radius: 10px;
  margin: 20px;
  background-color: #869ECE;
}

.filterContainer div{
display: flex;
align-items: center;
justify-content: center;
}

.abonnementContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 600px;
  height: 100%;
  background-color: #2F4077;
  border-radius: 20px;
  padding: 10px;
}

.abonnementContainer p{
  color:#fff;
}

.abonnementContainer div{
  display: flex;
  align-items: center;
}

.abonnementContainer img{
  height: 25px;
  width: 25px;
}

.abonnementContainer button{
  background-color: #ff5555;
  min-width: 120px;
  height: 25px;
  border-radius: 5px;
  color:#fff;
}


.groupeContainer{
  display: flex;
  justify-content: space-around;
  min-width: 600px;
  height: 100%;
  background-color: #2F4077;
  border-radius: 20px;
  padding: 10px;
}


.groupeContainer button{
  background-color: #fff;
  min-width: 120px;
  height: 25px;
  border-radius: 5px;
  color:#869ECE;
  margin-left: 50px;
}

.groupeContainer div{
  flex: 1;
  justify-content: center;
}



.groupContainerImage{
  display: flex;
  align-items: center;
}

.groupeImage{
  width: 100px;
  height: 100%;
  margin: 5px;
  border-radius: 5px;
}

.groupContainerIcone{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.groupContainerIcone div{
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #fff;
}

.groupContainerInfo{
  display: flex;
  width: 300px;
}

.groupContainerInfo div{ 
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupContainerIcone img{
  width: 30px;
  height: 30px;
}

