.connexionContainer{

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.link{
  text-decoration: underline;
  font-size: small;
  text-align: center;
}

.connexionInsert{
  margin-top: 50px;
  min-height: 300px;
  
}

.buttonApproved{
  background-color: #CE8686;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #555;
  text-align: center;
  width: 200px;
  height: 30px;
  margin-left: 30%;
}

.inputText{
  width: 500px;
  height:50px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #555;
}

.connexionInput{
  display: flex;
  flex-direction: column;
  margin:20px;
  justify-content: center;
}