.connexionContainer{

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.link{
  text-decoration: underline;
  font-size: small;
  text-align: center;
}

.connexionInsert{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: left;
  height: 200px;
  
}

.buttonApproved{
  background-color: #CE8686;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #555;
}

.inputText{
  width: 500px;
  height:50px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #555;
}

.connexionInput{
  display: flex;
  flex-direction: column;
  margin:20px;
}