.navHeader{
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%;
    display: flex;
    flex: 1;
    height: 75px;
    background-color: #2F4077; 
    align-items: center;
}

.navBody{
  display: flex;
  flex-direction: row;

}

.sideBar{
  position: fixed;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #2F4077; 
  width: 200px;
  margin-top: 75px;
}

@media (max-width: 1000px) {
  .sideBar{
    display: none;
  }
}

.sidebarContent{
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid 2px #869ECE;
  flex-direction: column;
}
.sidebarTitle{
  display: flex;
  width: 100%;
  background-color: #869ECE;
  text-align: center;
  color: #fff;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.sidebarChoice{
  width: 100%;
  background-color: #2F4077;
  border: 1px #869ECE solid;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebarOpenPage{
  font-size: 40px;
}

.navContentSeparator{
  margin-left: 200px;
  display: flex;
  height: 80vh;
  width: 100%;
  margin-top: 125px;
}

.recentContent{
  position: sticky;
  display: flex;
  width: 300px;
  height: 500px;
  background-color: #2F4077;
  border-radius: 10px;
  flex-direction: column;
}

.recentTitle{
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid #000;
}

.recentChoice{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid #000;
  flex-direction: row;
}

.recentUserPicture{
  width: 50px;
  height: 50px;
  flex: 1;
}

.recentInfo{
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: center;
  margin-left: 10px;
}

.recentUserName{
  font-size: 12px;
}

.recentArticleTitle{
  font-size: 15px;
}

.burger_menu{
    padding: 5px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    color:#fff;
    cursor: pointer;
}

.icon_connexion{
  width: 60px;
  height: 60px;
  margin-left: 80%;
}

.headerTitle{
    color: #fff;
    width: 100px;
    font-size: 20px;
    margin-left: 50px;
    font-family:sans-serif;
}

.headerPageTitle{
  color:#fff;
  margin-left: 200px;
  font-size: 20px;
}

.pageRender{
  width: 80%;
  height: 100%;
}

.username{
  color: #fff;
  font-size: 25px;
  padding: 10px;
}

/*--------------*/

.InputImg{
  height: 20px;
  width: 20px;

}

.inputDiv{
  background-color: #2F4077;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 1px 1px 3px #555;
  min-height: 30px;
  border-bottom: 1px #869ECE solid;
  font-size: 15px;
  color: #fff;
  text-align: end;
}

.inputDiv button{
margin-left: 20px;
}

.inputDiv img{
  margin-left: 5px;
}

.inputDiv:hover{
  transition: 0.3s;
  color: #fff;
  background-color: #869ECE;
  border: 1px solid #2F4077;
  cursor: pointer;
}