.header{
    display: flex;
    flex: 1;
    height: 75px;
    background-color: #2F4077; 
    align-items: center;
}

.sideBar{
  background-color: #2F4077; 
  width: 200px;
  height: 100%;
}

.sidebarcontent{
  background-color: #869ECE;
}

.burger_menu{
    padding: 5px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    color:#fff;
}
.burger_menu{
  cursor: pointer;
}

.headerTitle{
    color: #fff;
    width: 100px;
    font-size: 20px;
    margin-left: 50px;
    font-family:sans-serif;
}
