.menu {
  background-color: #ddd;
  color: #000;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  padding-bottom: 25%;
  padding-top: 5%;
}

.menu button {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  margin-top: 3vh;
}

.menu button:hover {
  font-size: 1.5rem;
  width: 70%;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.content {
  background-color: #aaa;
  display: flex;
  flex: 4;
  box-shadow: 0px 0px 5px #000;
  justify-content: center;
  padding: 10px;
  padding-top: 10vh;
  z-index: 1;
}

.empty {
  background-color: #fff;
  display: flex;
  flex: 1;
}

.containerProfil {
  padding-top: 5rem;
  display: flex;
  flex: 1;
  height: 100vh;
}

.contentleft {
  display: flex;
  flex: 1;
  background-color: #ddd;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5vh;
}

.contentright {
  display: flex;
  flex: 1;
  background-color: #ddd;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5vh;
  padding-top: 10vh;
}

.inputTextContainer {
  display: flex;
  flex-direction: column;
}
.inputTextContainer label {
  font-size: 25px;
  font-weight: 500;
}

.inputTextContainer input {
  border: none;
  box-shadow: 1px 1px 5px #aaa;
  border-radius: 10px;
  height: 4vh;
  margin-top: 10px;
  font-size: 2vh;
}

.inputTextContainer input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}

.ImageProfil {
  border-radius: 100%;
}

.ImageUpdate {
  box-shadow: 0px 0px 3px #000;
  border-radius: 100%;
}

.ImageUpdateImg {
  border-radius: 100%;
  cursor: pointer;
}

.ImageUpdate:hover {
  box-shadow: 0px 0px 10px #000;
  border-radius: 100%;
}

.ImageUpdate:active {
  box-shadow: 0px 0px 2px #000;
  border-radius: 100%;
}

.paramContainer {
  background-color: #fff;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.paramContainer h3 {
  font-size: 30px;
}

.paramContainer div {
  font-size: 20px;
}

.paramContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-decoration: underline;
}

.paramGenContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  width: 35vw;
  min-width: 200px;
  padding-left: 20%;
}

.prefContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  width: 35vw;
  min-width: 200px;
  padding-left: 20%;
}

.paramGenContainer input {
  width: 25px;
  height: 25px;
}

.paramGenContainer div {
  display: flex;
}

.prefContainer input {
  width: 25px;
  height: 25px;
}

.prefContainer div {
  display: flex;
}

.tabHistorique * {
  border: none;
  margin: none;
  border-collapse: collapse;
}
.tabHistorique table {
  border-top-left-radius: 10px;
}

.tabHistorique thead {
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-top-left-radius: 15px;
}

.tabHistorique thead tr th {
  padding: 10px;
  border: none;
}

.tabHistorique tbody {
  font-size: 20px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-top-left-radius: 15px;
}

.tabHistorique tbody td {
  padding: 20px;
}

.tabHistorique input {
  background-color: #f55;
  color: #fff;
  width: 50%;
  height: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15vh;
  width: 120%; /* Full width */
  height: 120%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalDisconected {
  margin: 0 auto;
  background-color: #ccc;
  display: flex;
  align-items: center;
  width: 40vw;
  height: 180px;
  border-radius: 10px;
  border: solid 5px #aaa;
  box-shadow: 0px 0px 3px#000;
  flex-direction: column;
}

.modalButtonContent {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.modalDisconected input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px #000;
}

.modalDisconected input[value="Annuler"] {
  height: 5vh;
  width: 15vw;
  background-color: #f55;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}

.modalDisconected input[value="Valider"] {
  height: 5vh;
  width: 15vw;
  background-color: #009500;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}

.close {
  color: #000;
  float: inline-end;
  font-size: 40px;
  font-weight: bold;
  padding-right: 35vw;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.modalDeleteAccount {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15vh;
  width: 120%; /* Full width */
  height: 120%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
