.DS_STORE
/Back-end/node_modules
/Back-end/.env
/Front-end-mobile/node_modules
/Front-end-web/node_modules
Front-end-mobile/package-lock.json
Front-end-web/package-lock.json
Back-end/package-lock.json
